openapi: 3.1.0
info:
  title: Envato Market Author Catalog API
  version: 3.0.0
  description: Envato Market REST API. Provides catalog discovery, item detail, search, item downloads (for buyers), user account info, badges, collections, and author earnings/sales across Envato's per-asset marketplaces (ThemeForest, CodeCanyon, AudioJungle, VideoHive, GraphicRiver, 3DOcean, PhotoDune). Best-effort spec derived from publicly documented surfaces; not exhaustive.
  contact:
    name: Envato Build
    url: https://build.envato.com/api/
  license:
    name: Proprietary
servers:
- url: https://api.envato.com
  description: Envato API production base URL
security:
- bearerAuth: []
- oauth2:
  - default
tags:
- name: Catalog
paths:
  /v1/market/popular:json:
    get:
      tags:
      - Catalog
      summary: List popular items by site
      operationId: getPopularItems
      parameters:
      - in: query
        name: site
        required: true
        schema:
          type: string
          example: themeforest.net
      responses:
        '200':
          description: Popular items grouped by week, month, last quarter
          content:
            application/json:
              schema:
                type: object
                properties:
                  popular:
                    type: object
  /v1/market/new-files:json:
    get:
      tags:
      - Catalog
      summary: List newest files for a site and category
      operationId: getNewFiles
      parameters:
      - in: query
        name: site
        required: true
        schema:
          type: string
      - in: query
        name: category
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Newest files
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Personal Token
      description: 'Envato personal token issued from build.envato.com. Sent as `Authorization: Bearer <token>`.'
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.envato.com/authorization
          tokenUrl: https://api.envato.com/token
          scopes:
            default: Default Envato Market scope set
